.profile-card{
    flex: 1 1 50%;
    margin: 10px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 2px;
    background-color: rgba(0,0,0,0.2);
}

.profile-card-attributes{
    background-color: white;
    border-radius: 8px;
    padding: 0 5px;
    margin: 0 5px 0 20px;
}

.profile-card-attributes-list{
    padding-left: 5px;
}

.profile-card-attributes-list-item{
    list-style: none;
}